<script type="text/javascript">
  function valideKey(evt){ // code is the decimal ASCII representation of the
  pressed key. var code = (evt.which) ? evt.which : evt.keyCode; if(code==8) {
  // backspace. return true; } else if(code>=48 && code<=57) { // is a number.
  return true; } else{ // other keys. return false; } }
</script>
<div class="card-box shadow position-relative calculate-height">
  <div class="row">
    <div class="col-xl-7">
      <div
        class="card-box--icon card-box--mini-icon dashboard__card-box-header dashboard__card-box-header--mini align-items-center"
      >
        <div class="card-box__icon card-box__icon--celeste">
          <i class="fa fa-money-check" style="transform: translateX(.1em);"></i>
        </div>
        <div class="card-box__body">
          <h2 class="card-box__title m-0">{{pageName}}</h2>
        </div>
      </div><!-- .card-box -->
    </div><!-- .col-xl-7 -->
  </div><!-- .row -->

  <form
    action="/guardar_edit_plan"
    method="post"
    class="p-to-btn"
    autocomplete="off"
    id="form-create-plan"
    enctype="multipart/form-data"
  >
    <input
      type="text"
      class="form-control-steps"
      id="id"
      name="id"
      placeholder="id"
      value="{{parsed_plan.id}}"
      hidden
    />
    <div class="form-update-account">
      <div class="form-update-account__item">
        <label class="form-steps__title" for="text">Tipo de plan</label>
        <div class="form-control-steps__container mb-3">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-receipt"></i>
          </div>
          <i class="fa fa-angle-down form-control-steps__select-arrow"></i>
          <select name="tipo_plan" id="tipo" class="form-control-steps">
            <option
              value="{{parsed_plan.tipo_create}}"
            >{{parsed_plan.tipo_create}}</option>
            <option value="Basic">Basic</option>
            <option value="VIP">VIP</option>
            <option value="Gold">Gold</option>

          </select>
        </div>
      </div><!-- .form-update-accound__item -->

      <div class="form-update-account__item">
        <label class="form-steps__title" for="costo_plan">Costo del Plan</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-money-bill-alt"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="costo_plan"
            name="costo_plan"
            placeholder="Costo"
            required
            onkeypress="return valideKey(event);"
            value="{{parsed_plan.costo}}"
          />
        </div>
      </div><!-- .form-update-accound__item -->
      <div class="form-update-account__item total-cols">
        <label class="form-steps__title" for="user-name">Modalidad del plan</label>
        <div class="form-control-steps__container">
          <i class="fa fa-angle-down form-control-steps__select-arrow"></i>
          <select name="modo_plan" id="tipo" class="form-control-steps">
            <option value="{{parsed_plan.modo}}">{{parsed_plan.modo}}</option>
            <option value="Mensual">Mensual</option>
            <option value="Anual">Anual</option>

          </select>
        </div>
      </div><!-- .form-update-accound__item -->

      <div class="form-update-account__item">
        <label class="form-steps__title" for="text">Primera línea</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-grip-lines"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="primera_linea"
            name="primera_linea"
            placeholder="Carácteristicas del plan"
            autocomplete="off"
            required
            value="{{parsed_plan.linea1}}"
          />
        </div>
      </div><!-- .form-update-accound__item -->
      <div class="form-update-account__item">
        <label class="form-steps__title" for="confirm-text">Segunda línea</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-grip-lines"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="segunda_linea"
            name="segunda_linea"
            placeholder="Carácteristicas del plan"
            autocomplete="off"
            required
            value="{{parsed_plan.linea2}}"
          />
        </div>
      </div><!-- .form-update-accound__item -->
      <div class="form-update-account__item">
        <label class="form-steps__title" for="text">Tercera línea</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-grip-lines"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="tercera_linea"
            name="tercera_linea"
            placeholder="Carácteristicas del plan"
            autocomplete="off"
            required
            value="{{parsed_plan.linea3}}"
          />
        </div>
      </div><!-- .form-update-accound__item -->
      <div class="form-update-account__item">
        <label class="form-steps__title" for="confirm-text">Cuarta línea</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-grip-lines"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="cuarta_linea"
            name="cuarta_linea"
            placeholder="Carácteristicas del plan"
            autocomplete="off"
            required
            value="{{parsed_plan.linea4}}"
          />
        </div>
      </div><!-- .form-update-accound__item -->
      <div class="form-update-account__item">
        <label class="form-steps__title" for="text">Quinta línea</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-grip-lines"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="quinta_linea"
            name="quinta_linea"
            placeholder="Carácteristicas del plan"
            autocomplete="off"
            required
            value="{{parsed_plan.linea5}}"
          />
        </div>
      </div><!-- .form-update-accound__item -->
      <div class="form-update-account__item">
        <label class="form-steps__title" for="confirm-text">Sexta línea</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-grip-lines"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="sexta_linea"
            name="sexta_linea"
            placeholder="Carácteristicas del plan"
            autocomplete="off"
            required
            value="{{parsed_plan.linea6}}"
          />
        </div>
      </div><!-- .form-update-accound__item --><div
        class="form-update-account__item"
      >
        <label class="form-steps__title" for="text">Septima línea</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-grip-lines"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="septima_linea"
            name="septima_linea"
            placeholder="Carácteristicas del plan"
            autocomplete="off"
            required
            value="{{parsed_plan.linea7}}"
          />
        </div>
      </div><!-- .form-update-accound__item -->
      <div class="form-update-account__item">
        <label class="form-steps__title" for="confirm-text">Octava línea</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-grip-lines"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="octava_linea"
            name="octava_linea"
            placeholder="Carácteristicas del plan"
            autocomplete="off"
            required
            value="{{parsed_plan.linea8}}"
          />
        </div>
      </div><!-- .form-update-accound__item -->
      <div class="form-update-account__item">
        <label class="form-steps__title" for="text">Novena línea</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-grip-lines"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="novena_linea"
            name="novena_linea"
            placeholder="Carácteristicas del plan"
            autocomplete="off"
            required
            value="{{parsed_plan.linea9}}"
          />
        </div>
      </div><!-- .form-update-accound__item -->
      <div class="form-update-account__item">
        <label class="form-steps__title" for="confirm-text">Decima línea</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-grip-lines"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="decima_linea"
            name="decima_linea"
            placeholder="Carácteristicas del plan"
            autocomplete="off"
            required
            value="{{parsed_plan.linea10}}"
          />
        </div>
      </div><!-- .form-update-accound__item -->
      <div class="form-update-account__item total-cols">
        <label class="form-steps__title" for="descuento">Descuento</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fa fa-percent"></i>
          </div>
          <input
            type="text"
            class="form-control-steps"
            id="descuento"
            name="descuento"
            placeholder="Indicar porcentaje de descuento"
            required
            onkeypress="return valideKey(event);"
            maxlength="2"
            value="{{parsed_plan.descuento}}"
          />
        </div>
      </div><!-- .form-update-accound__item -->
    </div><!-- .form-update-account -->
    <button
      type="submit"
      disabled
      class="btn btn-primary btn-x-lg form-steps__btn"
    >Guardar <i class="fa fa-angle-right"></i></button>
  </form>

  <a href="/admin_dash" class="before-page">
    <i class="fa fa-arrow-left"></i>
  </a>
</div><!-- .card-box -->