{{> header }}
<style>
	/* Style the form */
#regForm {
  /*background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;*/
  width: 95%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  width: 350px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}


a.ytboton {    position: relative;
    display: block;
    width: 100%;
    /* height: 24px; */
    padding: 6px 6px 6px 34px;
    background: #B31217;
    color: white;
    line-height: 16px;
    /* font-size: 12px; */
    text-decoration: none;
    font-family: arial;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
	cursor: pointer;
  margin-bottom: 10px;
  
  }
a.ytboton:before {content:"\25B6";position: absolute;top: 6px;left: 8px;padding: 1px 5px;background: white;color: #B31217;border-radius: 3px;font-size: 10px;box-sizing: border-box;line-height: 12px;}


.tweet{
  color:#ffffff;
  font-weight:bold;
  display:inline-block;
  padding:6px;
  text-align:center;
  cursor:pointer;
  outline:0;
  background-color:#55ACEE;
  border-radius: 10px;
  width: 150px;
}
.instagram{
  color:#ffffff;
  font-weight:bold;
  display:inline-block;
  padding:6px;
  text-align:center;
  cursor:pointer;
  outline:0;
 background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  border-radius: 10px;
  width: 150px;
}


.soundc{
	color: #fff;
    background-color: #f43010;
    border-color: #f43010;
    width: 150px;
    padding: 6px;
    text-align: center;
    border-radius: 10px;
}
.soundc a{
	text-decoration: none;
	color: white;
}
.spotify{
  color:#fff;
  font-weight:bold;
  display:inline-block;
  padding:6px;
  text-align:center;
  cursor:pointer;
  outline:0;
  background-color:#2ebd59;
  border-radius: 10px;
  width: 150px;
}
.deezer{
  color:#fff;
  font-weight:bold;
  display:inline-block;
  padding:6px;
  text-align:center;
  cursor:pointer;
  outline:0;
  background-color:#ef5466;
  border-radius: 10px;
  width: 150px;
}
.tiktok{
  color:#fff;
  font-weight:bold;
  display:inline-block;
  padding:6px;
  text-align:center;
  cursor:pointer;
  outline:0;
  background-color:#EE1D52;
  border-radius: 10px;
  width: 150px;
}
.mixcloud{
  color:#fff;
  font-weight:bold;
  display:inline-block;
  padding:6px;
  text-align:center;
  cursor:pointer;
  outline:0;
  background-color:rgb(80, 0, 255);
  border-radius: 10px;
  width: 150px;
}
.facebook{
  color:#fff;
  font-weight:bold;
  display:inline-block;
  padding:6px;
  text-align:center;
  cursor:pointer;
  outline:0;
  background-color:#3B5998;
  border-radius: 10px;
  width: 150px;
}
.facebook:hover, .spotify:hover, .deezer:hover, .tiktok:hover,.mixcloud:hover,.tweet:hover,.instagram:hover,.soundc a:hover{
	text-decoration: none;
	color: white;
}

.btn_disabled {
    background-color: #e4d9b7;
}
.btn:enabled {
    background-color: #D9AD26;
}

</style>
<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
<!-- Google Analytics -->

<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->	

<script>
	
window.fbAsyncInit = function () {
	
console.log("o")
    FB.Event.subscribe('edge.create', function (response) {
        Swal.fire('Gracias por dar Like')
		let link = document.getElementById('descargar_link')
					link.style.pointerEvents = null;
					//	link.style.color = 'blue';
		console.log("lo")
        });
   
    FB.Event.subscribe('edge.remove', function (response) {
        Swal.fire({
  title: 'Error!',
  text: 'No le has dado like a nuestra pagina',
  icon: 'error',
  confirmButtonText: 'OK'
})
		let link = document.getElementById('descargar_link')
					link.style.pointerEvents = 'none';
		console.log("d")
    });
};

(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id))
        return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.7&appId=1533357533669938";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script src="https://apis.google.com/js/api.js"></script>
<script>
	function start() {
  // 2. Initialize the JavaScript client library.
  gapi.client.init({
    'apiKey': 'AIzaSyCtCOX6tqnOxQZMIeXpA0X_IcP6X2p7FJU',
    // clientId and scope are optional if auth is not required.
    'clientId': '425427803550-5hcacf2hmbmj1k2nm1o1a5c6cg5kgk8j.apps.googleusercontent.com',
    'scope': 'profile',
  }).then(function() {
    // 3. Initialize and make the API request.
    return gapi.client.request({
      'path': 'https://people.googleapis.com/v1/people/me?requestMask.includeField=person.names',
    })
  }).then(function(response) {
    console.log(response.result);
  }, function(reason) {
    console.log('Error: ' + reason.result.error.message);
  });
};
// 1. Load the JavaScript client library.
gapi.load('client', start);

</script>
<script>
	function addSubscription() {
		// Replace this channel ID with the channel ID you want to subscribe to
		var channelId = 'UC9gFih9rw0zNCK3ZtoKQQyA';
		var resource = {
		  snippet: {
			resourceId: {
			  kind: 'youtube#channel',
			  channelId: channelId
			}
		  }
		};
	  
		try {
		  var response = YouTube.Subscriptions.insert(resource, 'snippet');
		  console.log(response);
		} catch (e) {
		  if(e.message.match('subscriptionDuplicate')) {
			console.log('Cannot subscribe; already subscribed to channel: ' + channelId);
		  } else {
			console.log('Error adding subscription: ' + e.message);
		  }
		}
	  }
			
	var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form ...
  var x = document.getElementsByClassName("tab");
  x[n].style.display="block"
  //x[n].style.display = "block";
  // ... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "none";

  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "";
	document.getElementById("nextBtn").setAttribute('disabled','disabled');
  } else {
    document.getElementById("nextBtn").innerHTML = "<i class='fa fa-angle-right' style='display:none'></i>";
	document.getElementById("nextBtn").removeAttribute("disabled");
  }
  // ... and run a function that displays the correct step indicator:
  fixStepIndicator(n)
}
	function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form... :
  if (currentTab >= x.length) {
    //...the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
 // for (i = 0; i < y.length; i++) {
    // If a field is empty...
   // if (y[i].value == "") {
      // add an "invalid" class to the field:
    //  y[i].className += " invalid";
      // and set the current valid status to false:
    //  valid = false;
   // }
 // }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class to the current step:
  x[n].className += " active";
}



//Funcion para pausar o darle play 
function togglePlay() {
	if (player.paused){
			toggleIcon();	
		return player.play();
	} else {

		  toggleIcon();	
		return player.pause();
	}
}
//Funcion para cambiar el icono play o pause
function toggleIcon() {
	var element = document.getElementById("iconPlay")
	var item_val= element.classList.item(1);
	//console.log(item_val);
	if (item_val==="fa-pause") {
	element.classList.remove("fa-pause");
    element.classList.add("fa-play");
	
	}else{
		element.classList.remove("fa-play");
		element.classList.add("fa-pause");
		//console.log(item_val);
	}
}


//Funcion para convertir segundos a minutos y horas
function secondsToString(seconds) {
	var hour="";
	if (seconds>3600){
		hour = Math.floor(seconds / 3600);
		hour = (hour < 10)? '0' + hour : hour;
		hour+=":"
	}
   var minute = Math.floor((seconds / 60) % 60);
  minute = (minute < 10)? '0' + minute : minute;
  var second = seconds % 60;
  second = (second < 10)? '0' + second : second;
  return hour  + minute + ':' + second;
}

function updateProgress() {
	if (player.currentTime >0){
		const barra = document.getElementById('progress_')
		barra.value = (player.currentTime / player.duration) * 100
		
		var duracionSegundos= player.duration.toFixed(0);
		dura=secondsToString(duracionSegundos);
		var actualSegundos = player.currentTime.toFixed(0)
		actual=secondsToString(actualSegundos);
		
		duracion= actual +' / '+ dura
	//	document.getElementById('timer').innerText=duracion 
	}
	if (player.ended){
	 toggleIcon();	
		return player.pause();
	} 
}

//Funcion para que al dar click sobre la barra de progeso se permita adelantar
var progress= document.getElementById('progress_')
progress.addEventListener('click', adelantar);
function adelantar(e){
	const scrubTime = (e.offsetX / progress.offsetWidth) * player.duration;
	player.currentTime = scrubTime;
	//console.log(e);
}

function showRSS(id_mostar1,id_mostar2,id_ocultar){
	var div_activo = document.getElementById(id_mostar1)

	if ($("#"+id_mostar1).is(':visible')){
	
		$("#"+id_mostar1).hide();

	}else{

		$("#"+id_mostar1).show();
    $("#"+id_mostar2).show();
		$("#"+id_ocultar).hide();	
	}
}
function guardar_correo(correo, tipo){
  if (tipo == "back"){
  var div_activo = document.getElementById('backstore_link');
  const item = document.createElement('a');
  div_activo.setAttribute('href', "/backstore_sell/{{gate.archivo}}/{{gate.id}}/{{gate.id_usuario}}/{{gate.music_price}}/backstore/"+correo);
  $('#nextBtn').click();
  }else{
    var div_activo = document.getElementById('descargar_link');
  const item = document.createElement('a');
  div_activo.setAttribute('href', "/downgate/{{gate.archivo}}/{{gate.id}}/"+correo);
  $('#nextBtn').click();
  }
	
 // item.insertBefore(item, div_activo);
}

function sub(){
  let formulario = document.getElementById('form_datos_wallet')
  formulario.submit();
}
</script>
<style>
.imgd:before {
  filter: blur(10px);
  content: "";
  position: absolute;
  height: 100%; 
  width: 100%;
  background: url(/assets/uploads/{{gate.imagen}});
  background-size: cover;
  z-index: -1;
 -webkit-transform-origin: top left;
 background-position: center;
}

.container{
  z-index:99999;
}
.none{
display: none;}
/* Estilos del contenedor */
.containerS {
  padding: 1rem 1.5rem;
  width: 95%;
  height: 100px;
  background-color: {{gate.color}};
  border-radius: 0.25rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: #333;
  font-family: sans-serif;
  text-align: justify;
  line-height: 1.3;
  overflow: auto;
}

.containerS p:not(:last-child) {
  margin-bottom: 1rem;
}

/* Tamaño del scroll */
.containerS::-webkit-scrollbar {
  width: 8px;
  display: none;
}

 /* Estilos barra (thumb) de scroll */
.containerS::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.containerS::-webkit-scrollbar-thumb:active {
  background-color: #ffff;
}

.containerS::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.containerS::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.containerS::-webkit-scrollbar-track:hover, 
.containerS::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
</style>

<div id="fb-root"></div>
	<main class="S-fluid main-gate">
		<div class="row">
			<div class="col-md-8 px-0 main-gate__main d-flex justify-content-center align-items-center imgd">

      <div class="img_gate" style="width: auto;">
						<img src="/assets/uploads/{{gate.imagen}}" alt="BackArtist Logo" style="border-radius: 20px;width: 600px;height: 600px;">
					</div>
				{{#if gate.show_watermarker}}
				
				{{else}} <div class="watermark">
					<div class="watermark__img">
						<img src="{{#if gate.user_logo}}/assets/uploads/{{gate.user_logo}}   {{else}}/assets/img/logo-ba-dark.jpg {{/if}}" alt="BackArtist Logo" >
					</div>
					<div class="watermark__body">
						<h2 class="watermark__title">BackArtist</h2>
					</div>
				</div>   {{/if}}
			{{#if bondGate}}{{else}}
      	<button class="btn-play" onclick="togglePlay();" style="position: absolute;" >
					<i class="fa fa-play" id="iconPlay"></i>
				</button>

  <audio id="player" ontimeupdate="updateProgress();" src="/assets/uploads/{{gate.archivo}}">
		                    <source  id="source" />	
		                    Audio no soportado	
	                    </audio>{{/if}}


{{#if bondGate}}{{else}}
				<div class="music-bar">
					<button class="music-bar__icon" type="button">
						<i class="fa fa-music"></i>
					</button>

						<progress id="progress_" value="0" max="100" style="width: 100%;" ></progress>
				</div>{{/if}}

			</div><!-- .col-md-8 -->
			<div class="col-md-4 px-0">
				
				<section class="bg-gradient main-gate__aside text-white" {{#if gate.color}}style="background: {{gate.color}};" {{/if}}>
					<div class="main-gate__user">
						<div class="main-gate__user-img">
							<img src="/assets/uploads/{{user.photo}}" alt="DJ Homero">
						</div>
						<div class="main-gate__user-body">
							<h2 class="main-gate__name">{{gate.nombre_artista}}</h2>
							<p class="main-gate__user-name">{{user.userName}}</p>
						</div>
						
					</div>
		
					<h1 class="main-gate__title" {{#if gate.color_titulo}}style="color: {{gate.color_titulo}};" {{/if}}>{{gate.titulo}}</h1>
					<p class="main-gate__desc" {{#if gate.color_descrip}}style="color: {{gate.color_descrip}};" {{/if}}>{{gate.descripcion}}</p>

<form id="regForm" action="" class="none">
<div class="tab">
	<!--<div class="fb-like" data-href="{{gate.url_facebook}}" data-width="" data-layout="button" data-action="like" data-size="large" data-share="false"></div>-->
	<input type="text" class="form-control-steps" id="mail" name="mail" placeholder="Ingrese su correo" onchange="guardar_correo(this.value,'{{#if backstore}}back{{else}}otro{{/if}}')" style="background-color: white;">			
</div>

{{#if backstore}}
<div class="tab">
    <a href="/backstore_sell/{{gate.archivo}}/{{gate.id}}/{{gate.id_usuario}}/{{gate.music_price}}/backstore" class="btn btn-primary btn-block btn_disabled" id="backstore_link">Ir a la Pasarela <i class="fa fa-angle-right"></i></a>

</div>


{{else}}
<!-- One "tab" for each step in the form: -->
{{#if gate.like_facebook}}
<div class="tab">
	<!--<div class="fb-like" data-href="{{gate.url_facebook}}" data-width="" data-layout="button" data-action="like" data-size="large" data-share="false"></div>-->
	<a class="facebook div_share" id="div_share" ><i class="fab fa-facebook" style="padding-right: 16px;"></i> Me gusta</a>
	<label class="label_url" hidden>{{gate.url_facebook}}</label>				
</div>{{/if}}

 {{#if gate.compartir_facebook}}	
<div class="tab">
	<a class="facebook div_share" id="div_share" ><i class="fab fa-facebook" style="padding-right: 16px;"></i> Compartir</a>
	<label class="label_url" hidden>https://web.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&u={{gate.url_facebook}}&&ref=plugin&src=share_button
    
    </label>	
	
	<!--<div class="fb-share-button" data-href="{{gate.url_facebook}}" data-layout="button_count" data-size="small"><a target="_blank" href="{{gate.url_facebook}}" class="fb-xfbml-parse-ignore">Compartir</a></div>-->
				
</div>{{/if}}

{{#if gate.suscribir_youtube}}<div class="tab containerS">
{{#URLRSS gate.url_youtube 'ytboton' 'Suscribirse'}}{{/URLRSS}}	

</div>{{/if}}

{{#if gate.seguir_twitter}}<div class="tab containerS">
  {{#URLRSS2 gate.url_twitter 'tweet dark' 'Follow' 'twitter' }}{{/URLRSS2}}	

			
</div>{{/if}}
{{#if gate.compartir_twitter}}<div class="tab containerS">
  {{#URLRSS2 gate.url_twitter 'tweet' 'Compartir' 'twitter'}}{{/URLRSS2}}	
  
			
</div>{{/if}}
{{#if gate.seguir_soundcloud}}<div class="tab containerS">
  {{#URLRSS2 gate.url_souncloud 'soundc' 'SoundCloud' 'soundcloud'}}{{/URLRSS2}}	
			
</div>{{/if}}
{{#if gate.seguir_instagram}}<div class="tab containerS">
  {{#URLRSS2 gate.url_instagram 'instagram' 'Instagram' 'instagram'}}{{/URLRSS2}}	
			
</div>{{/if}}
{{#if gate.seguir_spotify}}<div class="tab containerS">
 {{#URLRSS2 gate.url_spotify 'spotify' 'Spotify' 'spotify'}}{{/URLRSS2}}	
			
</div>{{/if}}
{{#if gate.seguir_deezer}}<div class="tab containerS">
  {{#URLRSS2 gate.url_deezer 'deezer' 'Deezer' 'deezer'}}{{/URLRSS2}}
						
</div>{{/if}}
{{#if gate.seguir_tiktok}}<div class="tab containerS">
 {{#URLRSS2 gate.url_tiktok 'tiktok' 'Tiktok' 'tiktok'}}{{/URLRSS2}}
			
</div>{{/if}}
{{#if gate.seguir_mixcloud}}<div class="tab containerS">
 {{#URLRSS2 gate.url_mixcloud 'mixcloud' 'Mixcloud' 'mixcloud'}}{{/URLRSS2}}
			
</div>{{/if}}
{{/if}}

<div style="overflow:auto;">
  <div style="float:right;display: grid;grid-template-columns: 104px 104px; margin-top: 15px;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)" style="margin-right: 5px; background: transparent; color: white; font-size: 20px;border: none;"><i class="fa fa-angle-left"></i></button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)" style="background: transparent; color: white; font-size: 20px;border: none;"><i class="fa fa-angle-right"></i></button>
  </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;" hidden>
  <span class="step"></span>
  {{#if gate.like_facebook}}<span class="step"></span>{{/if}}
  {{#if gate.compartir_facebook}}<span class="step"></span>{{/if}}
  {{#if gate.suscribir_youtube}}<span class="step"></span>{{/if}}
  {{#if gate.seguir_twitter}}<span class="step"></span>{{/if}}
  {{#if gate.compartir_twitter}}<span class="step"></span>{{/if}}
  {{#if gate.seguir_soundcloud}}<span class="step"></span>{{/if}}
  {{#if gate.seguir_instagram}}<span class="step"></span>{{/if}}
  {{#if gate.seguir_spotify}}<span class="step"></span>{{/if}}
  {{#if gate.seguir_deezer}}<span class="step"></span>{{/if}}
  {{#if gate.seguir_tiktok}}<span class="step"></span>{{/if}}
  {{#if gate.seguir_mixcloud}}<span class="step"></span>{{/if}}
</div>

</form>

<div style="display: grid;margin-bottom: 25px;grid-template-columns: 1fr;" >
  	<button class="btn btn-primary btn-block " id="descargar_show" onclick ="showRSS('descargar_link','regForm','descargar_show')">Descargar <i class="fa fa-angle-right"></i></button>
    {{#if backstore}}{{else}}
					<a href="/downgate/{{gate.archivo}}/{{gate.id}}" class="btn btn-primary btn-block btn_disabled none" id="descargar_link" style="pointer-events: none;">Descargar <i class="fa fa-angle-right"></i></a>{{/if}}

					<footer class="main-gate__footer">
						<div class="row align-items-center">
							<div class="col-12">
								<nav class="social-nav text-center">
                  
									{{#if gate.like_facebook}}
									<a href="{{gate.url_facebook}}" class="social-nav__link">
										<i class="fab fa-facebook-square"></i>
									</a>
									{{/if}}
									{{#if gate.seguir_twitter}}
									<a href="" class="social-nav__link">
										<i class="fab fa-twitter-square"></i>
									</a>
									{{/if}}
									{{#if gate.suscribir_youtube}}<a href="" class="social-nav__link">
										<i class="fab fa-youtube-square"></i>
									</a>{{/if}}
									{{#if gate.seguir_soundcloud}}<a href="" class="social-nav__link">
										<i class="fab fa-soundcloud"></i>
									</a>{{/if}}
									{{#if gate.seguir_instagram}}<a href="" class="social-nav__link">
										<i class="fab fa-instagram-square"></i>
									</a>{{/if}}
									{{#if gate.seguir_spotify}}<a href="" class="social-nav__link">
										<i class="fab fa-spotify"></i>
									</a>{{/if}}
									{{#if gate.seguir_deezer}}<a href="" class="social-nav__link">
										<i class="fab fa-deezer"></i>
									</a>{{/if}}
									{{#if gate.seguir_tiktok}}<a href="" class="social-nav__link">
										<i class="fab fa-tiktok"></i>
									</a>{{/if}}
								</nav>
							</div>
							<div class="col-12 my-4">
								<ul class="nav site-footer__nav justify-content-center">
									<li class="nav-item">
										<a class="nav-link" href="#">Términos y condiciones</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Políticas de Privacidad</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Ayuda</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Soporte</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Preguntas frecuente</a>
									</li>
								</ul>
							</div>
						</div>
					</footer>
				</section>
			</div><!-- .col-md-4 -->
		</div><!-- .row -->
	</main><!-- .S-fluid -->
{{> footer }}