<script type="text/javascript">
function valideKey(evt){
    
    // code is the decimal ASCII representation of the pressed key.
    var code = (evt.which) ? evt.which : evt.keyCode;
    
    if(code==8) { // backspace.
      return true;
    } else if(code>=48 && code<=57) { // is a number.
      return true;
    } else{ // other keys.
      return false;
    }
}
</script> 
<style>
	.texto-gris{
    color: #CCC;
	margin-left: 10px;
}
.contenedor_usuarios {
 
    width:120%;
}
/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
table>thead>tr{font-weight: bolder;}
.linea-oculta{display: none;}

.Activo{
	color: green;
}
.Caducado{
	color: orange;
}
.Agotado{
	color: red;
}
@media(max-width:414px){
	.box_admin{
		width: 100%;
	}
	.card-box__nav .nav-link{
		font-size: 14px !important;
	}
	.data-user{
		margin-bottom: 3rem;
    	margin-top: 15rem;
	}
	.card-box--icon{
		margin-bottom: 2rem;
	}
}
</style>
<div class="card-box shadow position-relative calculate-height">
	<div class="row">
		<div class="col-xl-7">
			<div class="card-box--icon card-box--mini-icon dashboard__card-box-header dashboard__card-box-header--mini align-items-center">
				<div class="card-box__icon card-box__icon--celeste">
					<i class="fa fa-bell" ></i>
				</div>
				<div class="card-box__body">
					<h2 class="card-box__title m-0">{{pageName}}</h2>
				</div>
			</div><!-- .card-box -->
		</div><!-- .col-xl-7 -->
	</div><!-- .row -->

	<form action="/notificaciones_save" method="post" class="p-to-btn" autocomplete="off" id="form_notificaciones" enctype='multipart/form-data'>
	<input type="text" class="form-control-steps" id="id" name="id_user" placeholder="id"  value="{{userID}}" hidden />
	{{#if parsed_notificacion}}<input type="text" class="form-control-steps" id="id" name="id_notificacion" placeholder="id"  value="{{parsed_notificacion.id}}" hidden />{{/if}}
		<div class="form-update-account">
			<div class="form-update-account__item">
				<label class="form-steps__title" for="text">Nombre</label>
				<div class="form-control-steps__container mb-3">
						<div class="form-control-steps__placeholder">
					<i class="fa fa-user"></i>
						</div>
				
					<input type="text" class="form-control-steps"  id="nombre" name="nombre" placeholder="Nombre para identificar la notificaci贸n" required {{#if parsed_notificacion}} value="{{parsed_notificacion.nombre}}" {{/if}}>
				</div>
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item" style="grid-row-end: 1;">
				<label class="form-steps__title" for="text">Estado</label>
				<div class="form-control-steps__container mb-3">
					<div class="form-control-steps__placeholder">
						<i class="fas fa-project-diagram"></i>
					</div>
					<i class="fa fa-angle-down form-control-steps__select-arrow"></i>
					<select class="form-control-steps" id="estado" name="estado" required style="background-color: #11111108;">	
						{{#if parsed_notificacion}}<option value="{{parsed_notificacion.estado}}" selected>{{parsed_notificacion.estado}}</option>{{/if}}
						<option value="Activa">Activa</option>
						<option value="Inactiva">Inactiva</option>						
					</select>
				</div>
				
			</div><!-- .form-update-accound__item -->
			

			<div class="form-update-account__item" style="grid-row-end: 1;">
				<label class="form-steps__title" for="ws">Descripci贸n</label>
				<div class="form-control-steps__container">
					
					<textarea type="text" class="form-control-steps"  id="descripcion" name="descripcion" placeholder="Descripci贸n" required >{{#if parsed_notificacion}}{{parsed_notificacion.descripcion}}{{/if}}</textarea>
				</div>
			</div><!-- .form-update-accound__item -->

		<div class="form-update-account__item">
								 
        <label class="form-steps__title" for="confirm-text">Fecha inicio</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fas fa-calendar-alt"></i>
          </div>
          <input type="datetime-local" class="form-control-steps" id="fecha_inicio" name="fecha_inicio"
            placeholder="Inicio de validez del cupon" autocomplete="off" {{#if parsed_notificacion}}value="{{parsed_notificacion.fecha_inicio}}"{{/if}} required/>
        </div>
      </div><!-- .form-update-accound__item -->
      <div class="form-update-account__item">
        <label class="form-steps__title" for="text">Fecha final</label>
        <div class="form-control-steps__container">
          <div class="form-control-steps__placeholder">
            <i class="fas fa-calendar-alt"></i>
          </div>
          <input type="datetime-local" class="form-control-steps" id="fecha_final" name="fecha_final"
            placeholder="Fecha finalizaci贸n" autocomplete="off" {{#if parsed_notificacion}}value="{{parsed_notificacion.fecha_final}}"{{/if}} required/>
        </div>
				
			</div><!-- .form-update-accound__item -->
			<div class="form-update-account__item" hidden>
				<label class="form-steps__title">Destino</label>
			<div class="form-control-steps__container mb-3">
				<div class="form-control-steps__placeholder">
					<i class="fa fa-sign-in-alt"></i>
				</div>
				<i class="fa fa-angle-down form-control-steps__select-arrow"></i>
				<select name="destino" id="destino" class="form-control-steps" style="background-color: #11111108;" {{#if pais_o}} disabled{{/if}}>
				{{#if parsed_notificacion}}<option value="{{parsed_notificacion.destino}}" selected>{{parsed_notificacion.destino}}</option>{{/if}}
				<option value="Todos" selected>Todos</option>				
				{{#each usuarios_parsed as |usuario i|}}					
					<option value="{{usuario.userName}}" >{{usuario.name}} / {{usuario.userName}}</option>
					{{/each}}-->
				</select>
			</div>
			</div><!-- .form-update-accound__item -->
			
			
			
			
		</div><!-- .form-update-account -->
		<button type="submit" class="btn btn-primary btn-x-lg form-steps__btn">Guardar <i class="fa fa-angle-right"></i></button>
	</form>

	<a href="/admin_dash" class="before-page">
		<i class="fa fa-arrow-left"></i>
	</a>
</div><!-- .card-box -->