{{#if backstore_sell}}{{> header }}{{/if}}
<!--<link rel="stylesheet" type="text/css" href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css"/>-->
<style>
  .card_container {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
}
.card_field{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    height:40px;
    background:white;
    font-size:17px;
    color:#3a3a3a;
    font-family:helvetica, tahoma, calibri, sans-serif;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    height:40px;
    background:white;
    font-size:17px;
    color:#3a3a3a;
    font-family:helvetica, tahoma, calibri, sans-serif;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.message_container {
    border-radius: 5px;
    background:#FFFFFF;
    font-size:13px;
    font-family:monospace;
    padding: 20px;
}
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}
#loading-image {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}
.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /* height of the spinner gif +2px to fix IE8 issue */
}

.btn_paypal:hover {
    background-color: #4ec6f9;
}
.btn_paypal {
    width:229px;
    height:49px;
    background:#009cde;
    border:1px dotted black;
    font-size:17px;
    color:#fff;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}
</style>
<script>
function showPago(mostrar, ocultar){
	if ($('#'+ocultar).is(':visible') ) {
  $('#'+ocultar).hide();
  $('#'+mostrar).show();
}else{
	//$('#'+ocultar).show(); 
  $('#'+mostrar).show();
}
	
}
function backcoins_pay(id){
	Swal.fire({
  title: 'Pagar Backcoins',
  text: "Seguro desea pagar con sus backcoins!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Pagar'
}).then((result) => {
  if (result.isConfirmed) {
	  window.location.href = '/pagar_backcoins/'+'{{userId}}'+ '/{{product}}'+ '/{{amount}}'+ '/{{modo}}';
  }
});
}
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<h1 class="dashboard-title">{{pageName}}</h1>

<div class="card-box shadow position-relative calculate-height">
	<div class="row">
		<div class="col-xl-7">
			<div class="card-box--icon card-box--mini-icon dashboard__card-box-header dashboard__card-box-header--mini align-items-center">
				<div class="card-box__icon card-box__icon--celeste">
					<i class="far fa-credit-card" ></i>
				</div>
				<div class="card-box__body">
					<h2 class="card-box__title m-0" id="pasarale_name">{{pageName}}</h2>
				</div>
			</div><!-- .card-box -->
		</div><!-- .col-xl-7 -->
	</div><!-- .row -->
	<div class="grid-plans grid-plans--dashboard" style="grid-template-columns: 1fr">
		<table class="table table-bordered table-striped">
						<thead>
							<tr>
                            <!--<th class="text-xs-center">
									Id
								</th>-->
								<th class="text-xs-center">
									Producto
								</th>
								<th class="text-xs-center">
                  Cantidad
								</th>
								<th class="text-xs-center">
									Precio
								</th> 
								<th class="text-xs-center">
									Metodo de Pago
								</th> 
							</tr>
						</thead>
						<tbody >
			<tr>
				<td>{{#if Backcoin}}{{product}} {{else}}PLAN: {{product}}{{/if}}</td>
					
					<td>{{#if Backcoin}}{{amount}} {{else}}1{{/if}}</td>
					<td>$ {{amount}}</td>
					<td>
          <input type="radio" onclick="showPago('MP','paypal')" name="metodo_pago" value="Mercado Pago" >Mercado Pago 
          
          
          <input type="radio" id="tarjeta" name="metodo_pago" value="PayPal" onclick="showPago('paypal','MP')">PayPal
          {{#if Backcoin}}{{else}}{{#if backstore_sell}}{{else}}<input type="radio" id="backcoins_pay" name="metodo_pago" value="backcoins_pay" onclick="backcoins_pay('backcoins')">Backcoins{{/if}}{{/if}}
          </td>

					
				</tr>
				</tbody> 
 			</table>
		<div class="card card-plan" >
			<div class="card-body" id="MP" style="display: none;">
<script
  src="https://www.mercadopago.com.pe/integrations/v1/web-payment-checkout.js"
  data-preference-id='{{global}}'>
</script>

<!--<script type="text/javascript" src="https://static
-content-qas.vnforapps.com/v2/js/checkout.js"
        data-sessiontoken = {{sessionKey}}
        data-channel = 'web',
        data-merchantid = {{merchantId}}
        data-formbuttoncolor = '#D80000',
        data-purchasenumber = {{purchaseNumber}}
        data-amount = {{amount}}
        data-expirationminutes= '5',
        data-buttonsize = 'MEDIUM',
        data-buttoncolor = 'GRAY',
        data-merchantname = 'Universidad Continental',
        data-timeouturl = '/visa/timeout',
		data-userId = {{userId}}>
  </script>-->
				
			</div>
  <div id="cargando" style="display:none" ><img src="/assets/img/Settings.gif" alt="Gate 1">Procesando pago... Por favor espere...</div>
	<div class="card-body" id="paypal" style="display: none;">

<!-- JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?components=hosted-fields&client-id={{CLIENT_ID}}&merchant-id=AUQDSYSBC7JR6&currency=USD&intent=capture" data-partner-attribution-id="FLAVORsb-qjuoo6097065_MP" data-client-token="{{clien_token}}" data-namespace="paypal_sdk"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<div id="paypal-button-container"></div>

<div class="card_container" id="card_container">
<form id="my-sample-form">
   <label for="card-number">Card Number</label><div id="card-number" class="card_field"></div>
       <div>
         <label for="expiration-date">Expiration Date</label>
         <div id="expiration-date" class="card_field"></div>
       </div>
       <div>
         <label for="cvv">CVV</label><div id="cvv" class="card_field"></div>
       </div>
       <label for="card-holder-name">Name on Card</label>
       <input type="text" id="card-holder-name" name="card-holder-name" autocomplete="off" placeholder="card holder name"/>
       
  <button value="submit" id="submit" class="btn_paypal">Pagar</button>
</form>

</div>



<script>
// Check if card fields are eligible to render for the buyer's country. The card fields are not eligible in all countries where buyers are located.
  if (paypal_sdk.HostedFields.isEligible() === true) {
    paypal_sdk.HostedFields.render({
      createOrder: function(data, actions) {
		  var datos = { token: "{{access_token}}"};
		  var init = {
             // el método de envío de la información será POST
            method: "POST",
            headers: { // cabeceras HTTP
                // vamos a enviar los datos en formato JSON
                'Content-Type': 'application/json'
            },
            // el cuerpo de la petición es una cadena de texto 
            // con los datos en formato JSON
            body: JSON.stringify(datos) // convertimos el objeto a texto
        };
      
      const $cargando = document.getElementById("cargando");
      const card_container = document.getElementById("paypal");
        $cargando.style.display = 'block';
        card_container.style.display = 'none';
        return fetch('/create-order/'+ '{{access_token}}'+ '/{{product}}'+ '/{{amount}}', init).then(function(res) {
            return res.json();
        }).then(function(data) {
            return data.id;
        });
      },
      styles: {
          'input': {
              'font-size': '14px',
              'font-family': 'Product Sans',
              'color': '#3a3a3a'
          },
          ':focus': {
              'color': 'black'
          }
      },
      fields: {
          number: {
              selector: '#card-number',
              placeholder: 'Credit Card Number',
              class:'card_field'
          },
          cvv: {
              selector: '#cvv',
              placeholder: 'CVV',
          },
          expirationDate: {
              selector: '#expiration-date',
              placeholder: 'MM/YYYY',
          }
      }
    }).then(hostedFields => {
      document.querySelector('#my-sample-form').addEventListener('submit', event => {
        event.preventDefault();
        hostedFields.submit().then(payload => {
			console.log("hola2")
      const $cargando = document.getElementById("cargando");
          return fetch('/handle-approve/' + payload.orderId + '/{{access_token}}'+ '/{{product}}'+ '/{{amount}}'+ '/{{userId}}' {{#if modo}}+ '/{{modo}}'{{/if}}, {
            method: 'POST'
           }).then(response => {
            if (!response.ok) {
              alert('Something went wrong');
            }
            $cargando.style.display = 'none';
			console.log(response)
      let status = response.status;
      
		  if (status=="200"){
	let timerInterval
Swal.fire({
  title: 'Pago Exitoso!',
  html: `Su pago se procesó con éxito gracias por todo`,
  timer: 2000,
  timerProgressBar: true,
  didOpen: () => {
    Swal.showLoading()
    timerInterval = setInterval(() => {
      const content = Swal.getHtmlContainer()
      if (content) {
        const b = content.querySelector('b')
        if (b) {
          b.textContent = Swal.getTimerLeft()
        }
      }
    }, 100)
  },
  willClose: () => {
    clearInterval(timerInterval)
  }
}).then((result) => {
  /* Read more about handling dismissals below */
  if (result.dismiss === Swal.DismissReason.timer) {
    console.log('I was closed by the timer')
   {{#if backstore_sell}}window.location.href = '/downgate/{{archivo}}/{{id_gate}}/{{userId}}/{{correo}}';{{else}}window.location.href = '/dashboard';{{/if}}
  }
})
 

		  }else{
			  let timerInterval
Swal.fire({
  title: 'Error en el pago!',
 // html: `${{ACTION_DESCRIPTION}}`,
  timer: 2500,
  timerProgressBar: true,
  didOpen: () => {
    Swal.showLoading()
    timerInterval = setInterval(() => {
      const content = Swal.getHtmlContainer()
      if (content) {
        const b = content.querySelector('b')
        if (b) {
          b.textContent = Swal.getTimerLeft()
        }
      }
    }, 100)
  },
  willClose: () => {
    clearInterval(timerInterval)
  }
}).then((result) => {
  /* Read more about handling dismissals below */
  if (result.dismiss === Swal.DismissReason.timer) {
    console.log('I was closed by the timer')
	//window.location.href = '/dashboard';
  }
})
          }
          }) ;
        });
      });
    });
  }
</script>
			</div>


			
		</div>
	</div>



	<a href="/dashboard" class="before-page">
		<i class="fa fa-arrow-left"></i>
	</a>
</div><!-- .card-box -->
{{#if backstore_sell}} {{> footer }}{{/if}}