	{{#if landingPage }}
	<footer class="site-footer bg-secondary">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-12 col-xl-8">
					<ul class="d-block d-sm-flex nav site-footer__nav justify-content-center justify-content-xl-start mb-3 mb-xl-0">
						<li class="nav-item">
							<a class="nav-link" href="#">Términos y condiciones</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Políticas de Privacidad</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Ayuda</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Soporte</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Preguntas frecuente</a>
						</li>
					</ul>
				</div>
				<div class="col-12 col-xl-4 d-flex justify-content-center justify-content-xl-end">
					<nav class="social-nav">
							{{#if parsed_about.facebook}}
									<a href="{{parsed_about.facebook}}" class="social-nav__link">
										<i class="fab fa-facebook-square"></i>
									</a>
									{{/if}}
									{{#if parsed_about.twitter}}
									<a href="{{parsed_about.twitter}}" class="social-nav__link">
										<i class="fab fa-twitter-square"></i>
									</a>
									{{/if}}
									{{#if parsed_about.youtube}}<a href="{{parsed_about.youtube}}" class="social-nav__link">
										<i class="fab fa-youtube-square"></i>
									</a>{{/if}}
									{{#if parsed_about.soundcloud}}<a href="{{parsed_about.soundcloud}}" class="social-nav__link">
										<i class="fab fa-soundcloud"></i>
									</a>{{/if}}
									{{#if parsed_about.instagram}}<a href="{{parsed_about.instagram}}" class="social-nav__link">
										<i class="fab fa-instagram-square"></i>
									</a>{{/if}}
									{{#if parsed_about.spotify}}<a href="{{parsed_about.spotify}}" class="social-nav__link">
										<i class="fab fa-spotify"></i>
									</a>{{/if}}
									{{#if parsed_about.mixcloud}}<a href="{{parsed_about.mixcloud}}" class="social-nav__link">
										<i class="fab fa-mixcloud"></i>
									</a>{{/if}}
									{{#if parsed_about.tiktok}}<a href="{{parsed_about.tiktok}}" class="social-nav__link">
										<i class="fab fa-tiktok"></i>
									</a>{{/if}}
					</nav>
				</div>
			</div>
		</div>
	</footer>
	{{/if}}
{{#if dashboardPage}}
<script>
function deleteCuenta(id){
	Swal.fire({
  title: 'Eliminar',
  text: "Seguro desea eliminar el gate indicado!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  cancelButtonText: 'Cancelar',
  confirmButtonText: 'Eliminar'
}).then((result) => {
  if (result.isConfirmed) {
	  window.location.href = '/borra_cuenta/'+id;
  }
})
}
 
 function pruebaclick(){
	  console.log("ss");
$("#loading").show();
 }
</script>
<a class="data-user__user-name" onclick="deleteCuenta({{user.id}})">Eliminar cuenta</a>

{{/if}}
	<!-- Sweet Alert -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- <link rel="stylesheet" href="sweetalert2.min.css">
	jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<script src="/assets/js/bootstrap.js"></script>
	<!-- Script -->
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/jquery.jPaginate.js"></script>
	
</body>
</html>