
	<h2 class="form-steps__title text-left">Elige cómo quieres que los fans apoyen esta pista</h2>

	<!-- Nav Support Nav -->
	<nav class="support-nav">
		<a href="#support-youtube" class="support-nav__item {{#if gate.url_youtube}}active{{/if}}">
			<i class="fab fa-youtube-square"></i>
			<div>
				<span>Youtube</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-facebook" class="support-nav__item {{#if gate.url_facebook}}active{{/if}}">
			<i class="fab fa-facebook-square"></i>
			<div>
				<span>Facebook</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-twitter" class="support-nav__item {{#if gate.url_twitter}}active{{/if}}">
			<i class="fab fa-twitter-square"></i>
			<div>
				<span>Twitter</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-soundcloud" class="support-nav__item {{#if gate.url_souncloud}}active{{/if}}">
			<i class="fab fa-soundcloud"></i>
			<div>
				<span>Soundcloud</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-instagram" class="support-nav__item {{#if gate.url_instagram}}active{{/if}}">
			<i class="fab fa-instagram-square"></i>
			<div>
				<span>Instagram</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-spotify" class="support-nav__item {{#if gate.url_spotify}}active{{/if}}">
			<i class="fab fa-spotify"></i>
			<div>
				<span>Spotify</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-deezer" class="support-nav__item {{#if gate.url_deezer}}active{{/if}}">
			<i class="fab fa-deezer"></i>
			<div>
				<span>Deezer</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-tiktok" class="support-nav__item {{#if gate.url_tiktok}}active{{/if}}">
			<i class="fab fa-tiktok"></i>
			<div>
				TikTok
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-mixcloud" class="support-nav__item {{#if gate.url_mixcloud}}active{{/if}}">
			<i class="fab fa-mixcloud"></i>
			<div>
				MixCloud
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
	</nav>
	<!-- End Nav Support Nav -->

	<!-- Support Sections -->
	<div class="support-sections">
		<section id="support-youtube" class="support-section {{#if gate.url_youtube}}s-show{{/if}}">
			<h3 class="form-steps__title text-left">Apoyar con Youtube</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="suscribir_youtube" value="suscribir_youtube" {{#if gate.suscribir_youtube}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Subscribirse al canal
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_youtube" value="omitir_youtube" class="optional" {{#if gate.omitir_youtube}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<div class="form-row">
				<div class="col">
					<label class="form-steps__title">Ingresa la URL del canal</label>
					<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_youtube" placeholder="URL de la canal" value="{{gate.url_youtube}}">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
				</div><!-- .col -->
				<!--<div class="col">
					<label class="form-steps__title">Ingresa nombre del canal</label>
					<input type="text" class="form-control-steps" name="nombre_youtube" placeholder="Nombre del canal">
				</div> .col -->
			</div><!-- .form-row -->
		</section>

		<section id="support-facebook" class="support-section  {{#if gate.url_facebook}}s-show{{/if}}">
			<h3 class="form-steps__title text-left">Apoyar con Facebook</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="like_facebook" value="like_facebook" {{#if gate.like_facebook}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Like a la página
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="compartir_facebook" value="compartir_facebook" {{#if gate.compartir_facebook}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Compartir post
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->
			<label class="checkbox-style mb-3">
				<input type="checkbox" name="omitir_facebook" value="omitir_facebook" class="optional" {{#if gate.omitir_facebook}}checked{{/if}}>
				<span class="checkbox-style__circle"></span>
				Hacer que los fanáticos puedan omitir los pasos
			</label>
			<label class="form-steps__title">Ingresa la URL de la página</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_facebook" placeholder="URL de la página" value="{{gate.url_facebook}}">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-twitter" class="support-section {{#if gate.url_twitter}}s-show{{/if}}">
			<h3 class="form-steps__title text-left">Apoyar con Twitter</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_twitter" value="seguir_twitter" {{#if gate.seguir_twitter}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Seguir cuenta
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="compartir_twitter" value="compartir_twitter" {{#if gate.compartir_twitter}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Compartir post
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="checkbox-style mb-3">
				<input type="checkbox" name="omitir_twitter" value="omitir_twitter" class="optional" {{#if gate.omitir_twitter}}checked{{/if}}>
				<span class="checkbox-style__circle"></span>
				Hacer que los fanáticos puedan omitir los pasos
			</label>

			<label class="form-steps__title">Ingresa la URL de la cuenta</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_twitter" placeholder="URL de la cuenta" value="{{gate.url_twitter}}">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-soundcloud" class="support-section {{#if gate.url_souncloud}}s-show{{/if}}">
			<h3 class="form-steps__title text-left">Apoyar con SoundCloud</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_soundcloud" value="seguir_soundcloud" {{#if gate.seguir_soundcloud}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Seguir perfil
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="compartir_soundcloud" value="compartir_soundcloud" {{#if gate.compartir_soundcloud}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Comentar el track
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="repost_souncloud" value="repost_souncloud" {{#if gate.repost_souncloud}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Repost el track
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_souncloud" value="omitir_souncloud" class="optional" {{#if gate.omitir_souncloud}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_souncloud" placeholder="URL del perfil" value="{{gate.url_souncloud}}">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-instagram" class="support-section {{#if gate.url_instagram}}s-show{{/if}}">
			<h3 class="form-steps__title text-left">Apoyar con Instagram</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_instagram" value="seguir_instagram" {{#if gate.seguir_instagram}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Seguir cuenta
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_instagram" value="omitir_instagram" class="optional" {{#if gate.omitir_instagram}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL de la cuenta</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_instagram" placeholder="URL de la cuenta" value="{{gate.url_instagram}}">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-spotify" class="support-section {{#if gate.url_spotify}}s-show{{/if}}">
			<h3 class="form-steps__title text-left">Apoyar con Spotify</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_spotify" value="seguir_spotify" {{#if gate.seguir_spotify}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Seguir perfil o playlist
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_spotify" value="omitir_spotify" class="optional" {{#if gate.omitir_spotify}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL del playlist</label>
			<input type="text" class="form-control-steps" name="url_spotify" placeholder="URL del playlist" value="{{gate.url_spotify}}">
		</section>

		<section id="support-deezer" class="support-section {{#if gate.url_deezer}}s-show{{/if}}">
			<h3 class="form-steps__title text-left">Apoyar con Deezer</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_deezer" value="seguir_deezer"  {{#if gate.seguir_deezer}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Seguir perfil
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="guardar_deezer" value="guardar_deezer"  {{#if gate.guardar_deezer}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Guardar el track en la biblioteca del fan
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="checkbox-style mb-3">
				<input type="checkbox" name="omitir_deezer" value="omitir_deezer" class="optional" {{#if gate.omitir_deezer}}checked{{/if}}>
				<span class="checkbox-style__circle"></span>
				Hacer que los fanáticos puedan omitir los pasos
			</label>

			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_deezer" placeholder="URL del perfil" value="{{gate.url_deezer}}">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-tiktok" class="support-section {{#if gate.url_tiktok}}s-show{{/if}}">
			<h3 class="form-steps__title text-left">Apoyar con TikTok</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_tiktok" value="seguir_tiktok" {{#if gate.seguir_tiktok}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Seguir cuenta (por definir)
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_tiktok" value="omitir_tiktok" class="optional" {{#if gate.omitir_tiktok}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->
			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_tiktok" placeholder="URL del perfil" value="{{gate.url_tiktok}}">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-mixcloud" class="support-section {{#if gate.url_mixcloud}}s-show{{/if}}">
			<h3 class="form-steps__title text-left">Apoyar con MixCloud</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_mixcloud" value="seguir_mixcloud"  {{#if gate.seguir_mixcloud}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Seguir perfil
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="repost_mixcloud" value="repost_mixcloud"  {{#if gate.repost_mixcloud}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Repost track
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="like_mixcloud" value="like_mixcloud"  {{#if gate.like_mixcloud}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Like al track
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_mixcloud" value="omitir_mixcloud" class="optional" {{#if gate.omitir_mixcloud}}checked{{/if}}>
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container">
				<div class="add-other">
					<input type="url" class="form-control-steps" name="url_mixcloud" placeholder="URL del perfil" value="{{gate.url_mixcloud}}">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>
	</div>
	<!-- End Support Sections -->

