<script>
	$( document ).ready(function() {
	 	 $('#AbrirMenuResponsive').on('click',()=>{
$('.MenuResponcive').attr('style', 'display:block;')
})
	})
/*$('[type="url"]').on('change',function(e) {
	console.log(e)
     const sectionActive = document.querySelector(".s-show");
let red = e.target.classList[1]
console.log(red)
    if (sectionActive) {
     
        const inputs = sectionActive.querySelectorAll(
          'input:not([type="checkbox"])'
        );
        if (inputs.length > 0) {
          const arrayResult = [];
          inputs.forEach((input) => {
            if (input.value !== "" && input.validity.valid) {
              arrayResult.push(true);
            } else {
              arrayResult.push(false);
            }
          });
          if (arrayResult.includes(false)) {
            Swal.fire({
              icon: "warning",
              text: "Llena los campos correctamente para continuar",
              button: false,
            });
          }
          
          return arrayResult.includes(false) ? false : true;
        }
        return true;
    }
    return true;
	});
	});  */
	
</script>

<section class="section-step {{#if user.basic}}basic{{/if}} {{#if user.gold}}gold{{/if}}" data-step-page="{{#if backstore}}5{{else}}6{{/if}}" data-step-desc="Pasos">
	<h2 class="form-steps__title text-left">Elige cómo quieres que los fans apoyen esta pista</h2>

	<!-- Nav Support Nav -->
	<nav class="support-nav">
		<a href="#support-facebook" class="support-nav__item">
			<i class="fab fa-facebook-square"></i>
			<div>
				<span>Facebook</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a href="#support-instagram" class="support-nav__item">
			<i class="fab fa-instagram-square"></i>
			<div>
				<span>Instagram</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a {{#if user.basic}}{{else}}href="#support-youtube"{{/if}} class="support-nav__item {{#if user.basic}}sb-disabled{{/if}}" {{#if user.basic}}data-swal-title="Solo disponible para usuarios VIP y Gold"{{/if}}>
			<i class="fab fa-youtube-square"></i>
			<div>
				<span>Youtube</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a {{#if user.basic}}{{else}}href="#support-twitter"{{/if}} class="support-nav__item {{#if user.basic}}sb-disabled{{/if}}" {{#if user.basic}}data-swal-title="Solo disponible para usuarios VIP y Gold"{{/if}}>
			<i class="fab fa-twitter-square"></i>
			<div>
				<span>Twitter</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a {{#if user.basic}}{{else}}href="#support-soundcloud"{{/if}} class="support-nav__item {{#if user.basic}}sb-disabled{{/if}}" {{#if user.basic}}data-swal-title="Solo disponible para usuarios VIP y Gold"{{/if}}>
			<i class="fab fa-soundcloud"></i>
			<div>
				<span>Soundcloud</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a {{#if user.basic}}{{else}}href="#support-spotify"{{/if}} class="support-nav__item {{#if user.basic}}sb-disabled{{/if}}" {{#if user.basic}}data-swal-title="Solo disponible para usuarios VIP y Gold"{{/if}}>
			<i class="fab fa-spotify"></i>
			<div>
				<span>Spotify</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a {{#if user.basic}}{{else}}href="#support-deezer"{{/if}} class="support-nav__item {{#if user.basic}}sb-disabled{{/if}}" {{#if user.basic}}data-swal-title="Solo disponible para usuarios VIP y Gold"{{/if}}>
			<i class="fab fa-deezer"></i>
			<div>
				<span>Deezer</span>
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a {{#if user.basic}}{{else}}href="#support-tiktok"{{/if}} class="support-nav__item {{#if user.basic}}sb-disabled{{/if}}" {{#if user.basic}}data-swal-title="Solo disponible para usuarios VIP y Gold"{{/if}}>
			<i class="fab fa-tiktok"></i>
			<div>
				TikTok
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a {{#if user.basic}}{{else}}href="#support-mixcloud"{{/if}} class="support-nav__item {{#if user.basic}}sb-disabled{{/if}}" {{#if user.basic}}data-swal-title="Solo disponible para usuarios VIP y Gold"{{/if}}>
			<i class="fab fa-mixcloud"></i>
			<div>
				MixCloud
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a {{#if user.basic}}{{else}}href="#support-twitch"{{/if}} class="support-nav__item {{#if user.basic}}sb-disabled{{/if}}" {{#if user.basic}}data-swal-title="Solo disponible para usuarios VIP y Gold"{{/if}}>
			<i class="fab fa-twitch"></i>
			<div>
				Twitch
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
		<a {{#if user.basic}}{{else}}href="#support-applemusic"{{/if}} class="support-nav__item {{#if user.basic}}sb-disabled{{/if}}" {{#if user.basic}}data-swal-title="Solo disponible para usuarios VIP y Gold"{{/if}}>
			<i class="fab fa-apple"></i>
			<div>
				Apple Music 
				<i class="fa fa-trash deselect-icon"></i>
			</div>
		</a>
	</nav>
	<!-- End Nav Support Nav -->

	<!-- Support Sections -->
	<div class="support-sections">
		<section id="support-youtube" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con Youtube</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="suscribir_youtube" value="suscribir_youtube">
						<span class="checkbox-style__circle"></span>
						Subscribirse al canal
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_youtube" value="omitir_youtube" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<div class="form-row">
				<div class="col">
					<label class="form-steps__title">Ingresa la URL del canal</label>
					<div class="other-container cont_yt">
				<div class="add-other ">
					<input type="url" class="form-control-steps url_youtube" name="url_youtube" placeholder="URL de la canal" id='url_youtube' onchange="validar(this)">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
				</div><!-- .col -->
				<!--<div class="col">
					<label class="form-steps__title">Ingresa nombre del canal</label>
					<input type="text" class="form-control-steps" name="nombre_youtube" placeholder="Nombre del canal">
				</div> .col -->
			</div><!-- .form-row -->
		</section>

		<section id="support-facebook" class="support-section {{#if user.basic}}basic{{/if}}">
			<h3 class="form-steps__title text-left">Apoyar con Facebook</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="like_facebook" value="like_facebook">
						<span class="checkbox-style__circle"></span>
						Like a la página
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="compartir_facebook" value="compartir_facebook">
						<span class="checkbox-style__circle"></span>
						Compartir post
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->
			<label class="checkbox-style mb-3">
				<input type="checkbox" name="omitir_facebook" value="omitir_facebook" class="optional">
				<span class="checkbox-style__circle"></span>
				Hacer que los fanáticos puedan omitir los pasos
			</label>
			<label class="form-steps__title">Ingresa la URL de la página</label>
			<div class="other-container cont_fb">
				<div class="add-other">
					<input type="url" class="form-control-steps url_facebook" name="url_facebook" placeholder="URL de la página" onchange="validar(this)">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-twitter" class="support-section ">
			<h3 class="form-steps__title text-left">Apoyar con Twitter</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_twitter" value="seguir_twitter">
						<span class="checkbox-style__circle"></span>
						Seguir cuenta
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="compartir_twitter" value="compartir_twitter">
						<span class="checkbox-style__circle"></span>
						Compartir post
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="checkbox-style mb-3">
				<input type="checkbox" name="omitir_twitter" value="omitir_twitter" class="optional">
				<span class="checkbox-style__circle"></span>
				Hacer que los fanáticos puedan omitir los pasos
			</label>

			<label class="form-steps__title">Ingresa la URL de la cuenta</label>
			<div class="other-container cont_tw">
				<div class="add-other ">
					<input type="url" class="form-control-steps url_twitter" name="url_twitter" placeholder="URL de la cuenta" onchange="validar(this)">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-soundcloud" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con SoundCloud</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_soundcloud" value="seguir_soundcloud">
						<span class="checkbox-style__circle"></span>
						Seguir perfil
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_souncloud" value="omitir_souncloud" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div>
			</div><!-- .form-row -->

			<div class="form-row">
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container cont_so">
				<div class="add-other ">
					<input type="url" class="form-control-steps url_souncloud" name="url_souncloud" placeholder="URL del perfil" onchange="validar(this)">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-instagram" class="support-section {{#if user.basic}}basic{{/if}}">
			<h3 class="form-steps__title text-left">Apoyar con Instagram</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_instagram" value="seguir_instagram">
						<span class="checkbox-style__circle"></span>
						Seguir cuenta
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_instagram" value="omitir_instagram" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL de la cuenta</label>
			<div class="other-container cont_ins">
				<div class="add-other ">
					<input type="url" class="form-control-steps url_instagram" name="url_instagram" placeholder="URL de la cuenta" onchange="validar(this)">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-spotify" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con Spotify</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_spotify" value="seguir_spotify">
						<span class="checkbox-style__circle"></span>
						Seguir perfil o playlist
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_spotify" value="omitir_spotify" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL del playlist</label>
			<div class="other-container cont_spt">
				<div class="add-other ">
			<input type="text" class="form-control-steps url_spotify" name="url_spotify" placeholder="URL del playlist" onchange="validar(this)">
				<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-deezer" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con Deezer</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_deezer" value="seguir_deezer">
						<span class="checkbox-style__circle"></span>
						Seguir perfil
					</label>
				</div><!-- .col
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="guardar_deezer" value="guardar_deezer">
						<span class="checkbox-style__circle"></span>
						Guardar el track en la biblioteca del fan
					</label>
				</div> --><!-- .col -->
			</div><!-- .form-row -->

			<label class="checkbox-style mb-3">
				<input type="checkbox" name="omitir_deezer" value="omitir_deezer" class="optional">
				<span class="checkbox-style__circle"></span>
				Hacer que los fanáticos puedan omitir los pasos
			</label>

			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container cont_dee">
				<div class="add-other ">
					<input type="url" class="form-control-steps url_deezer" name="url_deezer" placeholder="URL del perfil" onchange="validar(this)">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-tiktok" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con TikTok</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_tiktok" value="seguir_tiktok">
						<span class="checkbox-style__circle"></span>
						Seguir cuenta
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_tiktok" value="omitir_tiktok" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div><!-- .col -->
			</div><!-- .form-row -->
			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container cont_tik">
				<div class="add-other ">
					<input type="url" class="form-control-steps url_tiktok" name="url_tiktok" placeholder="URL del perfil" onchange="validar(this)">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-mixcloud" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con MixCloud</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_mixcloud" value="seguir_mixcloud">
						<span class="checkbox-style__circle"></span>
						Seguir perfil
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_mixcloud" value="omitir_mixcloud" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div>
			</div><!-- .form-row -->
			<div class="form-row">
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container cont_mix">
				<div class="add-other ">
					<input type="url" class="form-control-steps url_mixcloud" name="url_mixcloud" placeholder="URL del perfil" onchange="validar(this)">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-twitch" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con Twitch</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_twitch" value="seguir_twitch">
						<span class="checkbox-style__circle"></span>
						Seguir perfil
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_twitch" value="omitir_twitch" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div>
				<!--<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="repost_twitch" value="repost_twitch">
						<span class="checkbox-style__circle"></span>
						Repost track
					</label>
				</div>--><!-- .col -->
			</div><!-- .form-row -->
			<div class="form-row">
				<!--<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="like_twitch" value="like_twitch">
						<span class="checkbox-style__circle"></span>
						Like al track
					</label>
				</div>--><!-- .col -->
				<!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container cont_twic">
				<div class="add-other ">
					<input type="url" class="form-control-steps url_twitch" name="url_twitch" placeholder="URL del perfil" onchange="validar(this)">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>

		<section id="support-applemusic" class="support-section">
			<h3 class="form-steps__title text-left">Apoyar con Apple Music</h3>
			<div class="form-row">
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="seguir_applemusic" value="seguir_applemusic">
						<span class="checkbox-style__circle"></span>
						Seguir perfil
					</label>
				</div><!-- .col -->
				<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="omitir_applemusic" value="omitir_applemusic" class="optional">
						<span class="checkbox-style__circle"></span>
						Hacer que los fanáticos puedan omitir los pasos
					</label>
				</div>
				<!--<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="repost_applemusic" value="repost_applemusic">
						<span class="checkbox-style__circle"></span>
						Repost track
					</label>
				</div>--><!-- .col -->
			</div><!-- .form-row -->
			<div class="form-row">
				<!--<div class="col-12 col-md-6 mb-3">
					<label class="checkbox-style">
						<input type="checkbox" name="like_applemusic" value="like_applemusic">
						<span class="checkbox-style__circle"></span>
						Like al track
					</label>
				</div>--><!-- .col -->
				<!-- .col -->
			</div><!-- .form-row -->

			<label class="form-steps__title">Ingresa la URL del perfil</label>
			<div class="other-container cont_appl">
				<div class="add-other">
					<input type="url" class="form-control-steps url_applemusic" name="url_applemusic" placeholder="URL del perfil" onchange="validar(this)">
					<button type="button" class="add-other__btn">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</section>
	</div>
	<!-- End Support Sections -->

	<button type="button" class="btn btn-primary btn-x-lg form-steps__btn form-steps__btn--support"  id="btn_step_redes">Siguiente <i class="fa fa-angle-right"></i></button>

</section>
<script>
	$('#btn_step_redes').on('click', (e)=>{
			e.preventDefault()
	})
</script>