{{> header }}
	<!-- Dashboard Header -->
{{#if hay_not}}{{else}}
	<style>
		.notifications--resived::after {
	content: '';
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: #F20505;
	border-radius: 50%;
	top: 6px;
	right: -6px;
}
	</style>{{/if}}


	<header class="dashboard-header">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-8 text-center text-md-left">
					<a href="/dashboard" class="dashboard-header__logo">
						<img src="/assets/img/logo-ba.png" alt="Logo BackArtist" class="dashboard-header__logo-img">
						<h2 class="dashboard-header__logo-text">BackArtist</h2>
					</a>
				</div>
				
				<div class="col-4 d-flex align-items-center justify-content-center justify-content-md-end">
					<a href="/dashboard" class="notifications" style="margin-right: 1rem;">
						<i class="fa fa-house-user"></i>
					</a>
					<a href="#" class="notifications notifications--resived" id="notifications" {{#if hay_not}}style="pointer-events: none;"{{/if}}>
						<i class="far fa-bell"></i>
					</a>
					<button class="account-options" id="account-options">
						<i class="fa fa-ellipsis-v"></i>
					</button>
					<div id="header-toggle-elements" >
						<ul id="list-notifications" class="list-notifications" >
							{{#if parsed_lmit}} {{#notificaciones parsed_lmit}}{{/notificaciones}} {{/if}}
							
							{{!-- <li class="list-notifications__item text-center">No hay notificaciones</li> 
							
							<li class="list-notifications__item">{{notificaciones_parsed.0.descripcion}}</li>
							<li class="list-notifications__item">{{notificaciones_parsed.1.descripcion}}</li>--}}
						</ul>
						<ul class="list-account-options" id="list-account-options">
							<li class="list-account-options__title">
								Opciones de la cuenta
							</li>
							<li>
								<a href="#" class="btn btn-primary btn-block op">Ayuda</a>
							</li>
							<li>
								<a href="/fans" class="btn btn-primary btn-block op">Fans</a>
							</li>
							{{#if user.admin}}
							<li>
								<a href="/admin_dash" class="btn btn-primary btn-block op">Administrador</a>
							</li>{{/if}}
							<li>
								<a href="/close-session" class="btn btn-primary btn-block op">Cerrar Sesión</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- End dshboard Header -->

	<main class="container-fluid main-dashboard" {{#if admin_dash1}}style="grid-template-columns: 150px 1fr;" {{/if}}>
		<section>
			<div class="text-center">
				<a href="/update-profile" class="user-img__container">
					<img src="{{#if notPhoto}}/assets/uploads/{{user.photo}}{{else}}https://st4.depositphotos.com/29453910/37778/v/600/depositphotos_377784120-stock-illustration-hand-drawn-modern-man-avatar.jpg{{/if}}" alt="Usuario {{user.name}} {{user.lastName}}" class="user-img">
					<div class="user-img__effect"></div>
				</a>
			</div>
			<!-- Con Text Aling se alinean elementos inline e inline-block -->
			{{#if admin_dash1}}
			<div class="text-center user-statistics__container" style="max-height: 600px;">
				<div class="card-box shadow box_admin" style="padding: 1rem;">
						<nav class="card-box__nav" id="gates-navigation" >
		<ul class="nav flex-column flex-md-row align-items-center justify-content-md-between">
			<li class="nav-item mb-4 mb-md-0">
				<a class="nav-link {{#if usuarios}} active{{/if}}" href="/admin_dash"><label style="cursor: pointer;"><i class="fa fa-users "></i>Usuarios</label></a>
			</li>
			<li class="nav-item mb-4 mb-md-0">
				<a class="nav-link {{#if banners}} active{{/if}}" href="/banner" ><label style="cursor: pointer;"><i class="fa fa-ad"></i>Logos</label></a> 
			</li>
			<li class="nav-item">
				<a class="nav-link {{#if planes}} active{{/if}}" href="/planes" ><label style="cursor: pointer;"><i class="fa fa-book"></i>Planes</label></a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{#if aboutUs_parsed}} active{{/if}}" href="/aboutus" ><label style="cursor: pointer;"><i class="fa fa-address-card"></i>Nosotros</label></a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{#if cupones}} active{{/if}}" href="/cupones" ><label style="cursor: pointer;"><i class="fa fa-align-center"></i>Cupones</label></a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{#if ventas}} active{{/if}}" href="/ventas" ><label style="cursor: pointer;"><i class="fa fa-receipt"></i>Ventas</label></a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{#if notificaciones}} active{{/if}}" href="/notificaciones" ><label style="cursor: pointer;"><i class="fa fa-receipt"></i>Notificaciones</label></a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{#if tipo_cambio}} active{{/if}}" href="/tipo_cambio" ><label style="cursor: pointer;"><i class="fa fa-receipt"></i>Tipo Cambio</label></a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{#if terminos_ayuda}} active{{/if}}" href="/terminos_ayuda" ><label style="cursor: pointer;"><i class="fa fa-receipt"></i>Ayuda</label></a>
			</li>
		</ul>
	</nav>
				</div>
			</div>
			{{else}}
			<div class="text-center user-statistics__container" style="max-height: 450px;">
				<div class="card-box shadow">
					<div class="user-statistics">
						<p class="user-statistics__title"><i class="fa fa-torii-gate"></i>Gates</p>
						<p class="user-statistics__number">{{total_gates}}</p>
						<p class="user-statistics__desc"></p>
					</div><!-- .user-statistics -->
					
					<div class="user-statistics">
						<p class="user-statistics__title"><i class="fa fa-download"></i>Descargas</p>
						<p class="user-statistics__number">{{total_descargas}}</p>
						<p class="user-statistics__desc"></p>
					</div><!-- .user-statistics -->
					<div class="user-statistics">
						<p class="user-statistics__title"><i class="fa fa-user-plus"></i>Añadidos</p>
						<p class="user-statistics__number">{{total_sus}}</p>
						<p class="user-statistics__desc"></p>
					</div><!-- .user-statistics -->
					{{/if}}
				</div>
			</div>
		</section><!-- .col-md-2 -->
		<section>

			{{{ body }}}
			
		</section><!-- .col-md-7 -->
		{{#if admin_dash1}}{{else}}
		<aside>
			<div class="card-box h-100 shadow" style="position: relative; overflow: hidden; min-height: 650px !important;">
				<h2 class="card-box__title card-box__title--lg">Billetera</h2>
				<div class="widget-box backcoins {{#if user.basic}}sb-disabled{{/if}}">
					<h2 class="backcoins__title">BackCoins</h2>
					<p class="backcoins__subtitle m-0">Saldo:</p>
					<p class="backcoins__saldo">{{user.backcoins}}</p>
					{{!-- <p class="backcoins__saldo">999.00</p> --}}
					<a href="/wallet" class="btn btn-block btn-light" {{#if user.basic}}data-swal-title="Solo disponible para usuarios VIP y Gold"{{/if}}>Depositar <i class="fa fa-angle-right"></i></a>
					<a href="#" class="widget-box__info">?</a>

					<!-- Burbujas -->
					<div class="bubles">
						<div class="buble"></div>
						<div class="buble"></div>
						<div class="buble"></div>
						<div class="buble"></div>
					</div>
					<!-- Fin de Burbujas -->
				</div>
				<h2 class="card-box__title card-box__title--lg">Membresía</h2>
				<div class="widget-box membership text-center">
					<h2 class="membership__title {{#if user.vip}}text-uppercase{{/if}}">{{user.membership}}</h2>
					<p class="membership__subtitle">{{#getMembershipDesc user.membership}}{{/getMembershipDesc}}</p>
					<a href="/membership" class="btn btn-block btn-primary">Mejorar <i class="fa fa-angle-right"></i></a>
					<a href="#" class="widget-box__info">?</a>
				</div>

				<div style="height: 150px; overflow: hidden; position: absolute; bottom: 0; left: 0;" class="d-none d-xl-block"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: hsl(240, 100%, 90%)"></path></svg></div>
			</div>
		</aside>
		{{/if}}
		<!-- .col-md-3 -->
	</main><!-- .container -->
{{> footer }}